
:root {
  --col1: #7ED957;
  --col2: gray;
  --col3: #cecece;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}


#dropdown-basic {
  outline: none;
  border: none;
  margin: 0px;
  padding: 0px;
}