.yourorders{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* height: 100vh; */
    padding: 20px;
    position: relative;
    /* overflow: hidden; */
}

.yourorders table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    overflow: hidden;
    table-layout: fixed;
    /* background-color: aqua; */
}

.yourorders table tr {
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
}
.yourorders table tr th {
    padding: 10px 20px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    background-color: rgb(246, 246, 246);
    color: grey;
}

.yourorders table tr td {
    padding: 5px 20px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    color: grey;
}

.yourorders table tr td button {
    padding: 5px 20px;
    margin: 0px;
    font-size: 16px;
}

.yourorders table tr td p{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    margin-bottom: 0px;
}
.yourorders table tr td p .greendot{
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
}

.yourorders table tr td  p .yellowdot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: orange;
}

.yourorders table tr td  p .reddot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(255, 81, 81);
}

@media (max-width: 850px){
    .yourorders  table {
        border: 0;
    }

    .yourorders  table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .yourorders table tr {
        /* border-bottom: 3px solid #ddd; */
        display: block;
        margin-bottom: 20px;
        border: none;
    }
    .yourorders table td {
        border: none;
        /* border-bottom: 1px solid #ddd; */
        display: block;
        font-size: .8em;
        text-align: right;
    }

    .yourorders table caption{
        font-size: 16px;
    }
}